<div class="navigation">
  <nav role="navigation" class="navigation__item-container">
    <button class="hamburger navigation__toggle" [ngClass]="{'hamburger--active': menuOpen}" (click)="toggleMenu()">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </button>
    <ul class="navigation__items" [ngClass]="{'navigation__items--visible': menuOpen}">
      <li class="navigation__item">
        <a class="navigation__item-link" routerLinkActive="navigation__item-link--active" routerLink="podcasts">Web Design Podcasts</a>
      </li>
    </ul>
  </nav>
</div>
<header class="header">
  <h1 class="header__title">Top 5 <span class="header__genre" [innerHTML]="genre"></span> Podcasts</h1>
</header>
<main>
  <router-outlet></router-outlet>
</main>