@font-face {
  font-family: 'SpaceMono';
  font-weight: 400;
  src: url('./assets/fonts/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'SpaceMono';
  font-weight: 500 900;
  src: url('./assets/fonts/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 400;
  src: url('./assets/fonts/WorkSans-Regular.ttf');
}