$spacing: 30px;

$white: #fff;
$primary: #4E105C;
$accent-contrast: #FD741B;
$accent-primary: #A300BB;

$link-color: #777;
$link-hover-color: #FC731C;

$box-shadow-blur: 10px;
$box-shadow-red: 165;
$box-shadow-blue: 2;
$box-shadow-green: 186;
$box-shadow-alpha: .25;