@import '../../../../variables.scss';
@import '../../../../mixins.scss';

$shadow-color: rgba(165, 2, 186, 0.25);
$bp-desktop: 768px;
$bp-widescreen: 1200px;
:host {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.card {
  font-family: 'SpaceMono', sans-serif;
  color: #222222;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 $shadow-color;
  padding: 30px;
  position: relative;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
}
.thumbnail {
  height: 106px;
  width: 106px;
  transform: translateX(-45px);
}
.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 10px;
  opacity: 1;
  font-style: normal;
  letter-spacing: 0px;
}
.credits {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  opacity: 1;
  letter-spacing: 0px;
}
.publisher {
  color: #9c00b2;
}
.episodes {
  font-size: 12px;
  margin-bottom: 19px;
  opacity: 1;
  letter-spacing: 0px;
}
.divider {
  border: 1px solid #cccccc;
}
.links {
  margin-top: 9px;
  display: flex;
  color: rgba(119, 119, 119, 1);
  font-family: 'SpaceMono', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;

  img {
    margin-right: 6px;
  }
  a {
    color: rgba(119, 119, 119, 1);
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
  }
}
.description {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  font-family: 'WorkSans';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 30px;
}
.index {
  height: 50px;
  width: 50px;
  opacity: 1;
  background: linear-gradient(
    180deg,
    rgba(253, 116, 27, 1) 0%,
    rgba(163, 0, 187, 1) 100%
  );
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: white;
  position: absolute;
  top: -25px;
  left: -10px;
}
.info {
  width: 100%;
}

@media (min-width: $bp-desktop) {
  .card {
    flex-direction: row;
  }
  .info {
    width: 290px;
    margin-left: -15px;
  }
  .description {
    margin-top: 0;
    margin-left: 30px;
  }
  .thumbnail {
    height: 145px;
    width: 145px;
  }
}
@media (min-width: $bp-widescreen) {
  .thumbnail {
    transform: translateX(-60px);
  }
  .info {
    margin-left: -30px;
  }
  .index {
    left: -110px;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
    max-width: 75%;
    margin: 0 auto;
  }
  .header {
    flex-direction: column;
  }
  .thumbnail {
    transform: translateX(0);
    margin-bottom: 15px;
  }
  .info {
    margin-left: 0;
  }
  .description {
    margin-left: 0;
  }
  .index {
    left: 0;
    top: -25px;
  }
}
